pydantic==2.11.4
langgraph==0.4.0
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.48

langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.56
langchain-experimental==0.3.4
langchain-ollama==0.2.2
langchain-openai==0.3.14
langchain-text-splitters==0.3.8
langchain-together==0.3.0
langsmith==0.1.147


python-dotenv==1.0.0
pandas==2.1.0
pandas-ta==0.3.14b0
streamlit==1.28.0
plotly==5.18.0
sqlalchemy==2.0.0
tavily-python==0.3.1